{% extends 'project/base.html' %}

{% block content %}

<h1>{{ customer.first_name }} {{ customer.last_name }}</h1>


<h4>To update personal information, hit:</h4>
<form action="{% url 'project:update_account' %}">
    <button type="submit">
        Update Info
    </button>
</form>

<h4>To sell an item, hit:</h4>
<form action="{% url 'project:create_item' %}">
    <button type="submit">
        Sell an item
    </button>
</form>

<div>
    {% if customer.image_self %}
        <img src="{{ customer.image_self.url }}" alt="{{ customer.first_name }}'s Profile Picture">
    {% else %}
        <h4>No profile image available</h4>
    {% endif %}

    <p>Address: {{ customer.address }}</p>
    <p>Email: {{ customer.email_address }}</p>
    <p>Phone: {{ customer.phone_number }}</p>
</div>


<h2>Item(s) for Sale</h2>
<div>
    {% if items %}
        {% for c in items %}
            {% if c.get_first_image %}
                <a href="{% url 'project:show_detail' c.pk %}">
                    <img src="{{ c.get_first_image.image.url }}" alt="First Image">
                </a>
            {% endif %}
            <a href="{% url 'project:show_detail' c.pk %}" style="text-decoration: none; color: inherit;"><p>{{ c.title }}</p></a>

            <form action="{% url 'project:update_item' c.pk %}">
                <button type="submit">
                    Update {{ c.title }}
                </button>
            </form>

            <form action="{% url 'project:delete_item' c.pk %}" method="get">
                {% csrf_token %}
                <button type="submit">
                    Delete {{ c.title }}
                </button>
            </form>

        {% endfor %}
    {% else %}
        <p>No items for sale by {{ customer.first_name }}.</p>
    {% endif %}
</div>
{% endblock %}