
<!-- same file name as the views name 
 base page from which all other pages will inherit-->


 {% load static %}

 <html>
     <head>
         <link rel = "stylesheet" href = "{% static 'styles_mini_fb.css' %}"> 
         <title>
            mini facebook
         </title>
     </head>
 
 
     <body>
         <nav>
          <!-- <a href="{% url 'quote' %}">Quote</a> <br> -->  <!-- we can do href="/hw/", but this is more generic -->
         
          <a href="{% url 'mini_fb:show_all' %}">All Profiles</a><br>
          
          


          {% if request.user.is_authenticated %}
          
          {% if user_profile %}
          <li><a href="{% url 'mini_fb:show_profile' user_profile.pk %}">My Profile</a></li>
          <li><a href="{% url 'mini_fb:news_feed' %}">News feed</a></li>
        {% endif %}


            <form method="POST" action="{% url 'mini_fb:logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
          {% else %}
            <a href="{% url 'mini_fb:create_profile' %}">Create Profile </a><br>
            <a href="{% url 'mini_fb:login' %}">Login </a>
            
            {% endif %}

          </nav>
          {% if request.user.is_authenticated %}
          <p>logged in: {{request.user}}</p>
          {% else %}
          <p>not logged in</p>
          {% endif %}
         </nav>
 
        {% block content %}
        <!-- put stuff/content here-->
        {% endblock %}
     </body>
 </html>