
<!-- same file name as the views name 
 base page from which all other pages will inherit-->


 {% load static %}

 <html>
     <head>
         <link rel = "stylesheet" href = "{% static 'styles_mini_fb.css' %}"> 
         <title>
            mini facebook
         </title>
     </head>
 
 
     <body>
         <nav>
          <!-- <a href="{% url 'quote' %}">Quote</a> <br> -->  <!-- we can do href="/hw/", but this is more generic -->
         
          <a href="{% url 'mini_fb:show_all' %}">All Profiles</a><br>

          <a href="{% url 'mini_fb:create_profile' %}">Create Profile</a>  
         </nav>
 
        {% block content %}
        <!-- put stuff/content here-->
        {% endblock %}
     </body>
 </html>