
{% extends 'mini_fb/base.html' %}

{% block content %}

<h3><a href="{% url 'mini_fb:update_profile'%}">Update Profile</a></h3>
<a href="{% url 'mini_fb:news_feed' %}">View News Feed</a>
<h2 style="text-align: center;">Showing detail of {{profile.first_name}} {{profile.last_name}}</h2>

<table style="margin: 0 auto;">
    <tr>
        <td colspan="2"><img src="{{profile.image_url}}"></td>
    </tr>

    <tr>
        <th>Name:</th>
        <td>{{profile.first_name}} {{profile.last_name}}</td>
    </tr>
    <tr>
        <th>City:</th>
        <td>{{profile.city}}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{profile.email_address}}</td>
    </tr>
    
</table>


<div>
    <h2>Status Message</h2>
    <h3><a href="{% url 'mini_fb:URL_create_status' %}">Create a message</a></h3>
    
    {% if profile.get_status_messages %}
        {% for c in profile.get_status_messages %}
        <p>
              Message at {{c.timestamp}}: {{c.message}}
         </p>
         <a href="{% url 'mini_fb:delete_message' c.pk %}">Delete message</a>
         <a href="{% url 'mini_fb:update_message' c.pk %}">Update message</a>
            {% if c.get_images %}
                    <h4>Image(s) along with the message:</h4>
                        {% for img in c.get_images %}
                                <img src="{{ img.image_url.url }}" alt="Image for {{ c.message }}"><br>
                        {% endfor %}
                   
            {% endif %}
            <hr>
            
         
         {% endfor %}
      
     {% else %}
        <p>No status message</p>    
    
    {% endif %}

</div>

    <h2>Friends</h2>
    <a href="{% url 'mini_fb:friend_suggestions' %}">Friend Suggestions</a>
        {% if profile.get_friends %}
        {% for f in profile.get_friends %}
            {% if f.profile2 == profile %}
            
            <img src="{{ f.profile1.image_url }}" alt="{{ f.profile1.first_name }}">
            <p> <a href="{% url 'mini_fb:show_profile' f.profile1.pk %}">{{ f.profile1.first_name }} {{ f.profile1.last_name }}</a></p>
            {% else %}
            <a href="{% url 'mini_fb:show_profile' f.profile2.pk %}">
                <!-- Friend's profile picture and name -->
            </a>
            <img src="{{ f.profile2.image_url }}" alt="{{ f.profile2.first_name }}">
            <p><a href="{% url 'mini_fb:show_profile' f.profile2.pk %}">{{ f.profile2.first_name }} {{ f.profile2.last_name }}</a></p>
            
            {% endif %}
         {% endfor %}
        
        {% endif %}


{% endblock %}

