
{% extends 'mini_fb/base.html' %}

{% block content %}


<h3>Update {{profile.first_name}} {{profile.last_name}}'s profile</h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
       
    <table>
        {{form.as_table}}
    </table>

   

    <input type="submit" name="update profile" value="Update profile">

    
    </form>

    <form action="{% url 'mini_fb:show_profile' profile.pk %}">
        <input type="submit" name="Cancel" value="Cancel">
    </form>

        

{% endblock %}

